# Discord bot token
TOKEN=""
DEV_TOKEN=""

# PostgreSQL DSN
PG_DSN=""

# Channel ID where the slanders requested by users will be put
QUEUE_CHID=""

# "True" or "False". Wether anyone who can see the above channel
# can interact with the buttons. If set to "False", then only the
# owner(s) of the bot (being either the bot owner, or all members 
# of the discord team the bot is a part of) will be able to approve
# requests of new slanders being added.
ANYONE_CAN_CLICK=False

# "True" or "False". If the link to the support server will be
# shown after some slander messages
SHOW_SUPPORT_LINK=True

# "True" or "False". If the bot is the developer mode
DEV=True

#Error Webhook url
WEBHOOK_URL=""